In [1]:
import numpy as np
import pandas as pd

In [38]:
lockins = pd.read_excel('C:/Users/limzi/OneDrive/Forecasting & Reporting/IBP/inventory_data_for_python.xlsx', sheetname='Unit Demand Actual').rename(columns = {'Sku': 'SKU'})
lockins_f = lockins.melt(id_vars=['SKU', 'Product Name'], var_name='Date', value_name='Quantity').drop('Product Name', axis =1)
lockins_f

        SKU       Date Quantity
0      1000 2015-01-01        3
1      1001 2015-01-01        9
2      1009 2015-01-01        0
3      1050 2015-01-01        4
4      1051 2015-01-01       12
5      1057 2015-01-01        0
6      1059 2015-01-01        5
7      1100 2015-01-01        3
8      1101 2015-01-01        9
9      1109 2015-01-01        0
10     1150 2015-01-01        7
11     1151 2015-01-01        0
12     1157 2015-01-01        0
13     1159 2015-01-01        0
14     1210 2015-01-01        8
15     1219 2015-01-01        0
16     1250 2015-01-01        8
17     1259 2015-01-01        0
18     1310 2015-01-01       15
19     1319 2015-01-01        0
20     1350 2015-01-01       30
21     1357 2015-01-01        0
22     1359 2015-01-01        0
23     1460 2015-01-01        8
24     1467 2015-01-01        0
25     1469 2015-01-01        0
26     1560 2015-01-01       11
27     1567 2015-01-01        0
28     1569 2015-01-01       20
29     1620 2015-01-01        9
...     ...        ...      ...
43986   NaN 2021-12-01      NaN
43987   NaN 2021-12-01      NaN
43988   NaN 2021-12-01      NaN
43989   NaN 2021-12-01      NaN
43990   NaN 2021-12-01      NaN
43991   NaN 2021-12-01      NaN
43992   NaN 2021-12-01      NaN
43993   NaN 2021-12-01      NaN
43994   NaN 2021-12-01      NaN
43995   NaN 2021-12-01      NaN
43996   NaN 2021-12-01      NaN
43997   NaN 2021-12-01      NaN
43998   NaN 2021-12-01      NaN
43999   NaN 2021-12-01      NaN
44000   NaN 2021-12-01      NaN
44001   NaN 2021-12-01      NaN
44002   NaN 2021-12-01      NaN
44003   NaN 2021-12-01      NaN
44004   NaN 2021-12-01      NaN
44005   NaN 2021-12-01      NaN
44006   NaN 2021-12-01      NaN
44007   NaN 2021-12-01      NaN
44008   NaN 2021-12-01      NaN
44009   NaN 2021-12-01      NaN
44010   NaN 2021-12-01      NaN
44011   NaN 2021-12-01      NaN
44012   NaN 2021-12-01      NaN
44013   NaN 2021-12-01      NaN
44014   NaN 2021-12-01      NaN
44015   NaN 2021-12-01      NaN

[44016 rows x 3 columns]

In [31]:
sales_data = pd.read_excel('C:/Users/limzi/OneDrive/Forecasting & Reporting/IBP/inventory_data_for_python.xlsx', sheetname='SalesQtyETS')
sales_data_f = sales_data.melt(id_vars=['SKU', 'Description'], var_name='Date', value_name='Quantity').drop('Description', axis =1).dropna()
sales_data_f

         SKU       Date  Quantity
0       1000 2015-01-01       4.0
1       1001 2015-01-01       4.0
2       1009 2015-01-01      10.0
3       1050 2015-01-01       6.0
4       1051 2015-01-01      10.0
5       1057 2015-01-01       0.0
6       1059 2015-01-01      14.0
7       1100 2015-01-01       2.0
8       1101 2015-01-01       6.0
9       1109 2015-01-01       6.0
10      1150 2015-01-01      18.0
11      1151 2015-01-01       6.0
12      1157 2015-01-01       0.0
13      1159 2015-01-01      20.0
14      1210 2015-01-01       4.0
15      1219 2015-01-01       4.0
16      1250 2015-01-01       4.0
17      1259 2015-01-01      12.0
18      1310 2015-01-01       6.0
19      1319 2015-01-01       0.0
20      1350 2015-01-01      44.0
21      1357 2015-01-01       0.0
22      1359 2015-01-01       0.0
23      1460 2015-01-01       2.0
24      1467 2015-01-01       0.0
25      1469 2015-01-01      12.0
26      1560 2015-01-01      12.0
27      1567 2015-01-01       0.0
28      1569 2015-01-01      36.0
29      1620 2015-01-01       4.0
...      ...        ...       ...
39834  91670 2021-12-01       0.0
39835  91671 2021-12-01       0.0
39836  92000 2021-12-01       0.0
39837  92010 2021-12-01       0.0
39838  92020 2021-12-01       0.0
39839  92030 2021-12-01       0.0
39840  92040 2021-12-01       0.0
39841  92050 2021-12-01       0.0
39842  92060 2021-12-01       0.0
39843  92062 2021-12-01       0.0
39844  92063 2021-12-01       0.0
39845  92065 2021-12-01       0.0
39846  92066 2021-12-01       0.0
39847  92067 2021-12-01       0.0
39848  92072 2021-12-01       0.0
39849  92075 2021-12-01       0.0
39850  92076 2021-12-01       0.0
39851  93000 2021-12-01       0.0
39852  93012 2021-12-01       0.0
39853  93016 2021-12-01       0.0
39854  93017 2021-12-01       0.0
39855  93019 2021-12-01       0.0
39856  93021 2021-12-01       0.0
39857  93023 2021-12-01       0.0
39858  93024 2021-12-01       0.0
39859  93025 2021-12-01       0.0
39860  93026 2021-12-01       0.0
39861  2219T 2021-12-01       0.0
39862  2239T 2021-12-01       0.0
39863  3360T 2021-12-01       0.0

[36368 rows x 3 columns]

In [21]:
end_of_month_f['Date'][0] - sales_data_f['Date'][0]

Timedelta('578 days 00:00:00')

In [22]:
end_of_month = pd.read_excel('C:/Users/limzi/OneDrive/Forecasting & Reporting/IBP/inventory_data_for_python.xlsx', sheetname='EOM1').rename(columns = {'SKU #': 'SKU'})
end_of_month_f = end_of_month.melt(id_vars=['SKU', 'Product Name'], var_name='Date', value_name='Quantity').drop('Product Name', axis =1)
end_of_month_f

         SKU       Date  Quantity
0       1000 2016-08-01      24.0
1       1001 2016-08-01       9.0
2       1009 2016-08-01       0.0
3       1050 2016-08-01      12.0
4       1051 2016-08-01      14.0
5       1057 2016-08-01       0.0
6       1059 2016-08-01       0.0
7       1100 2016-08-01       0.0
8       1101 2016-08-01       1.0
9       1109 2016-08-01       0.0
10      1150 2016-08-01       3.0
11      1151 2016-08-01       0.0
12      1157 2016-08-01       0.0
13      1159 2016-08-01       0.0
14      1210 2016-08-01       0.0
15      1219 2016-08-01       0.0
16      1250 2016-08-01       8.0
17      1259 2016-08-01       0.0
18      1310 2016-08-01       0.0
19      1319 2016-08-01       0.0
20      1350 2016-08-01       0.0
21      1357 2016-08-01       0.0
22      1359 2016-08-01       0.0
23      1460 2016-08-01      26.0
24      1467 2016-08-01       0.0
25      1469 2016-08-01       0.0
26      1560 2016-08-01       6.0
27      1567 2016-08-01       0.0
28      1569 2016-08-01       0.0
29      1620 2016-08-01       0.0
...      ...        ...       ...
28895  92040 2021-12-01       NaN
28896  92050 2021-12-01       NaN
28897  92060 2021-12-01       NaN
28898  92062 2021-12-01       NaN
28899  92063 2021-12-01       NaN
28900  92065 2021-12-01       NaN
28901  92066 2021-12-01       NaN
28902  92067 2021-12-01       NaN
28903  92072 2021-12-01       NaN
28904  92075 2021-12-01       NaN
28905  92076 2021-12-01       NaN
28906  93000 2021-12-01       NaN
28907  93012 2021-12-01       NaN
28908  93016 2021-12-01       NaN
28909  93017 2021-12-01       NaN
28910  93019 2021-12-01       NaN
28911  93021 2021-12-01       NaN
28912  93023 2021-12-01       NaN
28913  93024 2021-12-01       NaN
28914  93025 2021-12-01       NaN
28915  93026 2021-12-01       NaN
28916  2219T 2021-12-01       NaN
28917  2239T 2021-12-01       NaN
28918  3360T 2021-12-01       NaN
28919  23094 2021-12-01       NaN
28920   7831 2021-12-01       NaN
28921   9172 2021-12-01       NaN
28922   9176 2021-12-01       NaN
28923   6260 2021-12-01       NaN
28924   6267 2021-12-01       NaN

[28925 rows x 3 columns]

In [63]:
merge_table = end_of_month_f.merge(sales_data_f, how = 'left', on = ['SKU', 'Date'], suffixes=['EOM', 'Sales'])
merge_table = merge_table.merge(lockins_f, how = 'left', on = ['SKU', 'Date']).rename(columns = {'Quantity': 'LockIns'})
merge_table = merge_table.astype({'LockIns':'float64'})
merge_table = merge_table.sort_values(['SKU', 'Date'])
merge_table[(merge_table['SKU'] == "7770") | (merge_table['SKU'] == "2010") | (merge_table['SKU'] == "7870")]

         SKU       Date  QuantityEOM  QuantitySales  LockIns
0       1000 2016-08-01         24.0            3.0      0.0
445     1000 2016-09-01         22.0            6.0      0.0
890     1000 2016-10-01         21.0            6.0      0.0
1335    1000 2016-11-01          8.0           12.0      0.0
1780    1000 2016-12-01          3.0            5.0      0.0
2225    1000 2017-01-01          1.0            2.0     36.0
2670    1000 2017-02-01         30.0            3.0      0.0
3115    1000 2017-03-01         24.0            3.0      0.0
3560    1000 2017-04-01         13.0            1.0      0.0
4005    1000 2017-05-01          5.0            7.0      0.0
4450    1000 2017-06-01         44.0            5.0     36.0
4895    1000 2017-07-01         42.0            1.0      0.0
5340    1000 2017-08-01         38.0            1.0      0.0
5785    1000 2017-09-01         30.0            4.0      0.0
6230    1000 2017-10-01         24.0            3.0      0.0
6675    1000 2017-11-01         21.0            2.0      0.0
7120    1000 2017-12-01         16.0            4.0      0.0
7565    1000 2018-01-01         49.0            1.0     36.0
8010    1000 2018-02-01         40.0            2.0      0.0
8455    1000 2018-03-01         69.0            6.0     36.0
8900    1000 2018-04-01         57.0            9.0     36.0
9345    1000 2018-05-01         91.0            2.0      0.0
9790    1000 2018-06-01          NaN            6.0      0.0
10235   1000 2018-07-01          NaN            2.0      0.0
10680   1000 2018-08-01          NaN            2.0      0.0
11125   1000 2018-09-01          NaN            5.0      NaN
11570   1000 2018-10-01          NaN            4.0      NaN
12015   1000 2018-11-01          NaN            3.0      NaN
12460   1000 2018-12-01          NaN            5.0      NaN
12905   1000 2019-01-01          NaN            2.0      NaN
...      ...        ...          ...            ...      ...
16013  3360T 2019-07-01          NaN            0.0      NaN
16458  3360T 2019-08-01          NaN            0.0      NaN
16903  3360T 2019-09-01          NaN            0.0      NaN
17348  3360T 2019-10-01          NaN            0.0      NaN
17793  3360T 2019-11-01          NaN            0.0      NaN
18238  3360T 2019-12-01          NaN            0.0      NaN
18683  3360T 2020-01-01          NaN            0.0      NaN
19128  3360T 2020-02-01          NaN            0.0      NaN
19573  3360T 2020-03-01          NaN            0.0      NaN
20018  3360T 2020-04-01          NaN            0.0      NaN
20463  3360T 2020-05-01          NaN            0.0      NaN
20908  3360T 2020-06-01          NaN            0.0      NaN
21353  3360T 2020-07-01          NaN            0.0      NaN
21798  3360T 2020-08-01          NaN            0.0      NaN
22243  3360T 2020-09-01          NaN            0.0      NaN
22688  3360T 2020-10-01          NaN            0.0      NaN
23133  3360T 2020-11-01          NaN            0.0      NaN
23578  3360T 2020-12-01          NaN            0.0      NaN
24023  3360T 2021-01-01          NaN            0.0      NaN
24468  3360T 2021-02-01          NaN            0.0      NaN
24913  3360T 2021-03-01          NaN            0.0      NaN
25358  3360T 2021-04-01          NaN            0.0      NaN
25803  3360T 2021-05-01          NaN            0.0      NaN
26248  3360T 2021-06-01          NaN            0.0      NaN
26693  3360T 2021-07-01          NaN            0.0      NaN
27138  3360T 2021-08-01          NaN            0.0      NaN
27583  3360T 2021-09-01          NaN            0.0      NaN
28028  3360T 2021-10-01          NaN            0.0      NaN
28473  3360T 2021-11-01          NaN            0.0      NaN
28918  3360T 2021-12-01          NaN            0.0      NaN

[28925 rows x 5 columns]

In [91]:
merge_table[(merge_table['SKU'] == 7770) | (merge_table['SKU'] == 2010)].to_excel('merge_table_test.xlsx')
# test.to_excel('merge_table_test.xlsx')

In [49]:
merge_table.loc[0,'projected_eom'] = merge_table.loc[0, 'QuantityEOM'] - merge_table.loc[0, 'QuantitySales'] + merge_table.loc[0, 'LockIns']

In [107]:
merge_groupby = merge_table.groupby(['SKU', 'Date']).sum()
merge_groupby.apply(lambda x: x.QuantityEOM[0] - x.QuantitySales.cumsum() + x.LockIns)

AttributeError: ("'Series' object has no attribute 'QuantityEOM'", 'occurred at index QuantityEOM')

In [110]:
# merge_groupby.loc[1000, 'QuantityEOM']
merge_groupby_2 = merge_table.groupby(['SKU'])['QuantityEOM', 'QuantitySales', 'LockIns'].sum()
merge_groupby_2

       QuantityEOM  QuantitySales  LockIns
SKU
1000         672.0          329.0    180.0
1001         596.0          126.0    180.0
1009        2024.0          268.0    250.0
1050        1130.0          372.0    252.0
1051         652.0          131.0    180.0
1057           0.0            0.0      0.0
1059        2401.0          458.0    250.0
1100        1364.0          161.0    288.0
1101        1616.0          256.0    288.0
1109          55.0           67.0      0.0
1150        2647.0         1098.0    864.0
1151        1934.0          492.0    684.0
1157           0.0            0.0      0.0
1159        2643.0          669.0    500.0
1210         125.0          288.0     96.0
1219         173.0           19.0      0.0
1250        1642.0          316.0    576.0
1259        3479.0           86.0    250.0
1310         202.0          594.0    144.0
1319           5.0           36.0      0.0
1350        2944.0         1183.0   2112.0
1357           0.0            0.0      0.0
1359        3229.0          200.0    750.0
1460        1450.0          676.0    336.0
1467           0.0            0.0      0.0
1469        4190.0          261.0    500.0
1560        1945.0         1189.0    672.0
1567           0.0            0.0      0.0
1569        4879.0          146.0    750.0
1620         274.0          307.0     96.0
...            ...            ...      ...
91670         28.0           15.0      0.0
91671          0.0            0.0      0.0
92000          0.0            0.0      0.0
92010          0.0            0.0      0.0
92020          0.0            0.0      0.0
92030          0.0            0.0      0.0
92040          0.0            0.0      0.0
92050          0.0            0.0      0.0
92060          0.0            0.0      0.0
92062          0.0            3.0      0.0
92063        301.0            2.0     48.0
92065          0.0            0.0      0.0
92066          0.0            0.0      0.0
92067          0.0            0.0      0.0
92072          0.0            0.0      0.0
92075          6.0            5.0     38.0
92076        113.0           39.0     41.0
93000          0.0            0.0      0.0
93012          0.0            0.0      0.0
93016          0.0            0.0      0.0
93017          0.0            3.0      0.0
93019          0.0            0.0      0.0
93021          0.0            0.0      0.0
93023          0.0            0.0      0.0
93024          0.0            0.0      0.0
93025          0.0            0.0      0.0
93026          0.0            0.0      0.0
2219T          0.0            0.0      0.0
2239T          0.0            0.0      0.0
3360T          0.0            0.0      0.0

[445 rows x 3 columns]

In [67]:
merge_groupby.loc[0,'projected_eom'] = merge_groupby.loc[0, 'QuantityEOM'] - merge_groupby.loc[0, 'QuantitySales'] + merge_groupby.loc[0, 'LockIns']
merge_groupby

KeyError: 'the label [0] is not in the [index]'

In [ ]:
def rolling_apply(group):