In [1]:
import requests
import json
import numpy as np
import pandas as pd
import pprint
import math
import datetime
pd.options.display.max_columns = 999

In [ ]:
This is the code if I want to pull from TG. Initiative abandoned.

url = 'https://api.tradegecko.com/orders'
bearer = {'Authorization': 'Bearer f4855aebc4a92c0d6a09f07b105bcbae81afbaf8cb1344f47a5b5c45cf8f4c1e'}

orders_request = requests.get(url, headers=bearer).text
orders_json = json.loads(orders_request)
orders_df = pd.io.json.json_normalize(orders_json, record_path='orders')
orders_df

purchase_order_url = 'https://api.tradegecko.com/purchase_order_line_items/'

purchase_order_request = requests.get(purchase_order_url, headers=bearer).text
purchase_order_json = json.loads(purchase_order_request)
purchase_order_df = pd.io.json.json_normalize(purchase_order_json , record_path='purchase_order_line_items')
purchase_order_df

In [1]:
ls('C:/Users/limzi/OneDrive/Forecasting & Reporting/Jeff Files/PowerBi Files/SalesTG')

Invalid switch - "Users".
'Reporting' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
# Import all SalesTG Data and remove duplicated rows
import glob
path = 'D:/Code/forecasting/SalesTG'
allFiles = glob.glob(path + "/*.csv")
sales_tg = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0, parse_dates=['Issued At'])
    list_.append(df)
sales_tg = pd.concat(list_)
sales_tg.drop_duplicates(inplace = True)
sales_tg = sales_tg.astype({'Variant SKU': 'str'}).reset_index(drop = True)
# sales_tg = sales_tg.rename(columns={'Variant SKU': 'Parent SKU'})
sales_tg

,Customer Name,Customer Type,Issued At,Location Name,Quantity,Shipping Country,Shipping State,Total Sales,Variant Name,Variant SKU
0,Worthee Cosmetics,business,2018-04-24,PCSG Warehouse,30.0,Malaysia,Negeri Sembilan,1140.00,Peptide Booster,9550
1,Worthee Cosmetics,business,2018-04-26,PCSG Warehouse,39.0,Malaysia,Negeri Sembilan,936.00,88 ml,7820
2,Worthee Cosmetics,business,2018-04-02,PCSG Warehouse,30.0,Malaysia,Negeri Sembilan,907.50,Resist Advanced Pore-Refining Treatment 4% BHA...,7791
3,Worthee Cosmetics,business,2018-04-26,PCSG Warehouse,36.0,Malaysia,Negeri Sembilan,765.00,118 ml,2010
4,Mom Moni,business,2018-04-10,PCSG Warehouse,50.0,Singapore,NaN,742.50,177 ml,6002
5,Worthee Cosmetics,business,2018-04-09,PCSG Warehouse,24.0,Malaysia,Negeri Sembilan,726.00,Resist Advanced Pore-Refining Treatment 4% BHA...,7791
6,Worthee Cosmetics,business,2018-04-26,PCSG Warehouse,24.0,Malaysia,Negeri Sembilan,720.00,8.4 ml,7730
7,Worthee Cosmetics,business,2018-04-26,PCSG Warehouse,21.0,Malaysia,Negeri Sembilan,714.00,20 ml,7770
8,Worthee Cosmetics,business,2018-04-26,PCSG Warehouse,30.0,Malaysia,Negeri Sembilan,675.00,210 ml,5700
9,Victor Ang,consumer,2018-04-07,PCSG Warehouse,14.0,Singapore,NaN,602.00,118 ml,2010
10,Worthee Cosmetics,business,2018-04-02,PCSG Warehouse,100.0,Malaysia,Negeri Sembilan,550.00,30 ml,2017
11,Worthee Cosmetics,business,2018-04-26,PCSG Warehouse,18.0,Malaysia,Negeri Sembilan,522.00,20 ml,7980
12,Mom Moni,business,2018-04-10,PCSG Warehouse,20.0,Singapore,NaN,495.00,210 ml,5900
13,Victor Ang,consumer,2018-04-07,PCSG Warehouse,8.0,Singapore,NaN,464.00,50ml,2760
14,Worthee Cosmetics,business,2018-04-26,PCSG Warehouse,30.0,Malaysia,Negeri Sembilan,405.00,177 ml,6002
15,Jane Loo,consumer,2018-04-22,BC,5.0,NaN,NaN,370.00,20 ml,7860
16,Worthee Cosmetics,business,2018-04-26,PCSG Warehouse,18.0,Malaysia,Negeri Sembilan,363.60,118 ml,6200
17,Worthee Cosmetics,business,2018-04-26,PCSG Warehouse,15.0,Malaysia,Negeri Sembilan,337.50,210 ml,5900
18,Worthee Cosmetics,business,2018-04-26,PCSG Warehouse,18.0,Malaysia,Negeri Sembilan,306.00,190 ml,1350
19,Worthee Cosmetics,business,2018-04-26,PCSG Warehouse,12.0,Malaysia,Negeri Sembilan,288.00,60 ml,7690
20,Worthee Cosmetics,business,2018-04-26,PCSG Warehouse,12.0,Malaysia,Negeri Sembilan,288.00,60 ml,7760
21,Christine Wijaya,consumer,2018-04-24,BC,5.0,NaN,NaN,275.00,30 ml,7740
22,Worthee Cosmetics,business,2018-04-02,PCSG Warehouse,9.0,Malaysia,Negeri Sembilan,272.25,Resist Advanced Smoothing Treatment 10% AHA (G...,7651
23,Making Faces Cosmetics,business,2018-04-26,PCSG Warehouse,15.0,Nepal,NaN,270.00,148 ml,2320
24,Worthee Cosmetics,business,2018-04-26,PCSG Warehouse,15.0,Malaysia,Negeri Sembilan,270.00,190 ml,7830
25,Benscrub,business,2018-04-18,PCSG Warehouse,30.0,Singapore,Central Singapore,270.00,30 ml,6217
26,Worthee Cosmetics,business,2018-04-26,PCSG Warehouse,15.0,Malaysia,Negeri Sembilan,270.00,Clear Acne Body Spray 2% BHA (Salicylic Acid),6240
27,Benscrub,business,2018-04-18,PCSG Warehouse,10.0,Singapore,Central Singapore,258.00,118 ml,6210
28,Benscrub,business,2018-04-18,PCSG Warehouse,10.0,Singapore,Central Singapore,258.00,118 ml,2010
29,Benscrub,business,2018-04-18,PCSG Warehouse,10.0,Singapore,Central Singapore,246.00,118 ml,6200
...,...,...,...,...,...,...,...,...,...,...
40208,Lynn Hasina Hassan,consumer,2017-06-22,PCSG Warehouse,1.0,Singapore,NaN,0.00,30 ml (100% off),7827
40209,Joyce Kian,consumer,2017-10-16,PCSG Warehouse,1.0,Hong Kong,NaN,0.00,60 ml,7760
40210,Don Marjalino Jr.,consumer,2017-06-15,PCSG Warehouse,7.0,Philippines,NaN,0.00,30 ml (100% off),7827
40211,Catherine Ma,consumer,2017-06-24,PCSG Warehouse,1.0,Singapore,NaN,0.00,30 ml (100% off),2017
40212,Catherine Ma,consumer,2017-06-24,PCSG Warehouse,1.0,Singapore,NaN,0.00,5 ml (100% off),7647
40213,Madelien Low,consumer,2017-06-28,BC,1.0,NaN,NaN,0.00,Resist Smoothing Primer Serum SPF 30,91587
40214,Baby,consumer,2017-03-14,PCSG Warehouse,1.0,Singapore,NaN,0.00,Winner Set,HARU2017
40215,Queenie Szeto,consumer,2017-07-11,BC,1.0,NaN,NaN,0.00,5 ml,7647
40216,Xiu Ping Chue,consumer,2017-06-14,BC,1.0,NaN,NaN,0.00,Sachet,3609
40217,SO SHARLIN,consumer,2017-11-22,PCSG Headquarters,1.0,Malaysia,Kuala Lumpur,0.00,210 ml,5700
40218,Lye Jia Hui,consumer,2017-06-23,PCSG Warehouse,1.0,Singapore,NaN,0.00,5 ml (100% off),7647
40219,Rogini Moorthi,consumer,2016-12-03,PCSG Warehouse,0.0,Singapore,NaN,0.00,20 ml,7770
40220,Alice Yeo,consumer,2017-07-18,BC,1.0,Singapore,NaN,0.00,Sachet,7829
40221,Joyce Kian,consumer,2017-10-16,PCSG Warehouse,1.0,Hong Kong,NaN,0.00,60 ml,3400
40222,Pamela Lai,consumer,2017-06-13,BC,2.0,NaN,NaN,0.00,Sachet,2049
40223,Amber Rossi,consumer,2017-06-15,BC,1.0,Singapore,NaN,0.00,30 ml (100% off),2017
40224,Shopify Default Customer,consumer,2017-06-30,BC,1.0,NaN,NaN,0.00,Sachet,1469
40225,Franca Kaluza-Martens,consumer,2017-06-28,BC,2.0,Singapore,NaN,0.00,Sachet,5709
40226,Sophia Lim,consumer,2017-06-15,PCSG Warehouse,1.0,Singapore,NaN,0.00,30 ml (100% off),7827
40227,Sophia Lim,consumer,2017-06-15,PCSG Warehouse,1.0,Singapore,NaN,0.00,5 ml (100% off),7647
40228,Dinah Hashim,consumer,2017-06-20,PCSG Warehouse,1.0,Brunei,NaN,0.00,30 ml (100% off),7827
40229,Norashimah Abdul Rahim,consumer,2017-06-13,BC,2.0,NaN,NaN,0.00,Sachet,7769
40230,Seanna Tan,consumer,2017-06-19,BC,1.0,Singapore,NaN,0.00,5 ml (100% off),7647
40231,Franca Kaluza-Martens,consumer,2017-06-28,BC,2.0,Singapore,NaN,0.00,Sachet,5579
40232,Franca Kaluza-Martens,consumer,2017-06-28,BC,2.0,Singapore,NaN,0.00,Sachet,7969
40233,ANGELA TAN,consumer,2017-06-19,PCSG Warehouse,1.0,Singapore,NaN,0.00,30 ml (100% off),2017
40234,Adilah Noordin,consumer,2017-06-21,PCSG Warehouse,1.0,Singapore,NaN,0.00,8.4 ml (100% off),7717
40235,Shopify Default Customer,consumer,2017-06-14,BC,1.0,NaN,NaN,0.00,Sachet,7619
40236,Shopify Default Customer,consumer,2017-06-30,BC,1.0,NaN,NaN,0.00,Sachet,7619
40237,Lai Fang Chiang,consumer,2017-06-15,PCSG Warehouse,1.0,Singapore,NaN,0.00,5 ml (100% off),7647

In [14]:
sales_tg = pd.read_csv("D:/Dropbox/Sample Variant Report.csv")
bundle_master = pd.read_csv("D:/Dropbox/Sample Bundle Master.csv")

bundle_master_new = bundle_master.rename(columns = {'Parent SKU': "Variant SKU", 'Quantity': 'Parent Qty'})
sales_tg_new = pd.merge(sales_tg, bundle_master_new, on="Variant SKU", how='left')
sales_tg_new['Parent Qty'].fillna(1, inplace=True)
sales_tg_new['Total Qty'] =  sales_tg_new['Parent Qty'] * sales_tg_new['Quantity']

# Format the dataframe to be exact as asked in question
sales_tg_new['Child SKU'].fillna(sales_tg_new['Variant SKU'], inplace=True)
sales_tg_final = sales_tg_new[['Issued At', 'Child SKU', 'Total Qty']].rename(columns = {'Child SKU': "Product"})

In [15]:
sales_tg_final

        Issued At   Product  Total Qty
0      2017-09-30      6002      135.0
1      2018-01-23      2010       72.0
2      2017-09-30      6210       72.0
3      2018-01-18      2010       72.0
4      2017-07-31      6002      110.0
5      2016-12-05      7820       10.0
6      2016-12-05      7830       10.0
7      2016-12-05      7780       10.0
8      2016-12-05      7740       10.0
9      2016-12-05      7690       10.0
10     2016-12-05      7800       10.0
11     2017-12-06      2010       72.0
12     2017-07-31      6210       60.0
13     2018-01-31      2120       30.0
14     2018-04-24      9550       30.0
15     2017-08-30      2010       48.0
16     2018-01-18      2010       48.0
17     2017-03-14      6002       75.0
18     2017-09-30      2010       45.0
19     2017-09-30      6110       72.0
20     2018-03-01      7760       20.0
21     2017-12-11      7760       19.0
22     2018-04-02      7791       30.0
23     2018-01-18      7980       30.0
24     2017-09-30      2010       38.0
25     2017-04-13      7820       30.0
26     2017-04-13      7610       30.0
27     2016-12-05      2010       36.0
28     2017-07-31      2010       36.0
29     2017-01-05      2010       36.0
...           ...       ...        ...
40668  2017-06-22      7827        1.0
40669  2017-10-16      7760        1.0
40670  2017-06-15      7827        7.0
40671  2017-06-24      2017        1.0
40672  2017-06-24      7647        1.0
40673  2017-06-28     91587        1.0
40674  2017-03-14  HARU2017        1.0
40675  2017-07-11      7647        1.0
40676  2017-06-14      3609        1.0
40677  2017-11-22      5700        1.0
40678  2017-06-23      7647        1.0
40679  2016-12-03      7770        0.0
40680  2017-07-18      7829        1.0
40681  2017-10-16      3400        1.0
40682  2017-06-13      2049        2.0
40683  2017-06-15      2017        1.0
40684  2017-06-30      1469        1.0
40685  2017-06-28      5709        2.0
40686  2017-06-15      7827        1.0
40687  2017-06-15      7647        1.0
40688  2017-06-20      7827        1.0
40689  2017-06-13      7769        2.0
40690  2017-06-19      7647        1.0
40691  2017-06-28      5579        2.0
40692  2017-06-28      7969        2.0
40693  2017-06-19      2017        1.0
40694  2017-06-21      7717        1.0
40695  2017-06-14      7619        1.0
40696  2017-06-30      7619        1.0
40697  2017-06-15      7647        1.0

[40698 rows x 3 columns]

In [3]:
# Import product bundle component list
bundle_master = pd.read_excel('C:/Users/limzi/OneDrive/Forecasting & Reporting/PCSG Master List.xlsx', sheetname='Bundles')

# Convet bundles in each transaction into individual SKUs
from itertools import chain
# Perform groupby on bundles
bundles_component_list = bundle_master.groupby('Parent SKU')['Child SKU'].apply(list)
bundles_quantity_list = bundle_master.groupby('Parent SKU')['Quantity'].apply(list)

In [115]:
sales_tg['bundle_decomposed'] = sales_tg['Variant SKU'].map(bundles_component_list).fillna(sales_tg['Variant SKU'].apply(list))

In [ ]:
# sales_tg['quantity_decomposed'] = sales_tg.apply(lambda x: [x['Quantity'].astype('int')*i for i in bundles_quantity_list.get(x['Variant SKU'], [1])])
for i in sales_tg['Variant SKU']:
    print(bundles_quantity_list.get())

In [177]:
bundles_quantity_list.index

Index([   2607,    2657,    2757,    2807,    4070,    4077,    4080,    4090,
          4120,    4127,    4170,    4180,    4200,    4400,    4550,    4600,
          4700,    4707,    4750,    4757,    4800,    4810,    4820,    4830,
          4840,    4850,    4860,    4880,    4890,    4900,    4910,    4920,
          4930,    4940,    4950,    4957,    4960,    4970,    4980,    8705,
          8715,    8725,    8735,    8745, 'BFCM1', 'BFCM2', 'BFCM3', 'BFCM4',
       'BFCM5', 'BFCM6', 'XMAS1', 'XMAS2', 'XMAS3', 'XMAS4', 'XMAS5', 'XMAS6',
       'XMAS7'],
      dtype='object', name='Parent SKU')

In [104]:
# len(bundles_component_list.get(sales_tg['Variant SKU']))
bundles_quantity_df = pd.DataFrame(bundles_quantity_list).reset_index()
bundles_quantity_df

   Parent SKU                  Quantity
0        2607                       [5]
1        2657                       [5]
2        2757                       [5]
3        2807                       [5]
4        4070              [1, 1, 1, 1]
5        4077              [1, 1, 1, 1]
6        4080              [1, 1, 1, 1]
7        4090              [1, 1, 1, 1]
8        4120              [1, 1, 1, 1]
9        4127              [1, 1, 1, 1]
10       4170        [1, 1, 1, 1, 1, 1]
11       4180        [1, 1, 1, 1, 1, 1]
12       4200              [1, 1, 1, 1]
13       4400           [1, 1, 1, 1, 1]
14       4550     [1, 1, 1, 1, 1, 1, 1]
15       4600     [1, 1, 1, 1, 1, 1, 1]
16       4700                 [1, 1, 1]
17       4707                 [1, 1, 1]
18       4750                 [1, 1, 1]
19       4757                 [1, 1, 1]
20       4800        [1, 1, 1, 1, 1, 1]
21       4810     [1, 1, 1, 1, 1, 1, 1]
22       4820                    [1, 1]
23       4830                    [1, 1]
24       4840                    [1, 1]
25       4850                    [1, 1]
26       4860                 [1, 1, 1]
27       4880                    [1, 1]
28       4890                    [1, 1]
29       4900                 [1, 1, 1]
30       4910                    [1, 1]
31       4920                    [1, 1]
32       4930                    [1, 1]
33       4940                 [1, 1, 1]
34       4950           [1, 1, 1, 1, 1]
35       4957           [1, 1, 1, 1, 1]
36       4960                    [1, 1]
37       4970                    [1, 1]
38       4980                    [1, 1]
39       8705                    [1, 1]
40       8715                    [1, 1]
41       8725                    [1, 1]
42       8735                    [1, 1]
43       8745                    [1, 1]
44      BFCM1                 [1, 1, 1]
45      BFCM2                 [1, 1, 1]
46      BFCM3                 [5, 1, 1]
47      BFCM4                 [1, 1, 1]
48      BFCM5                 [1, 1, 1]
49      BFCM6           [1, 1, 1, 1, 1]
50      XMAS1                 [1, 1, 1]
51      XMAS2              [1, 1, 2, 1]
52      XMAS3                 [1, 1, 1]
53      XMAS4                 [1, 1, 1]
54      XMAS5           [1, 1, 1, 1, 5]
55      XMAS6  [1, 1, 1, 1, 1, 1, 1, 1]
56      XMAS7                 [1, 1, 1]

import pandas as pd, numpy as np
from itertools import chain

# SETUP

df1 = pd.DataFrame({'Date': ['Jan 2017', 'Jan 2017', 'Jan 2017', 'Jan 2017'],
                    'Product': ['A', 'Bundle X', 'B', 'Bundle Y'],
                    'Qty': [10 , 5, 10, 5]})

df2 = pd.DataFrame({'ParentSKU': ['Bundle X', 'Bundle X' ,'Bundle X', 'Bundle Y',
                                  'Bundle Y', 'Bundle Y', 'Bundle Y'],
                    'ComponentSKU': ['A', 'B', 'C', 'P', 'Q', 'R', 'S'],
                    'Quantity': [3, 5, 10, 5, 7, 12, 3]})

# Perform groupby on bundles
bundles = df2.groupby('ParentSKU')['ComponentSKU'].apply(list)
bundles_q = df2.groupby('ParentSKU')['Quantity'].apply(list)

# Map bundles to df1
df1['Product_Decomposed'] = df1['Product'].map(bundles).fillna(df1['Product'].apply(list))
df1['Quantity_Decomposed'] = df1.apply(lambda x: [x['Qty']*i for i in bundles_q.get(x['Product'], [1])], axis=1)

# Get lengths of each bundle
lens = list(map(len, df1['Product_Decomposed']))

# Create dataframe by repeating and chaining data
res = pd.DataFrame({'Date': np.repeat(df1['Date'], lens),
                    'Product': list(chain.from_iterable(df1['Product_Decomposed'])),
                    'Qty': list(chain.from_iterable(df1['Quantity_Decomposed']))})